<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="kenny2" class="com.chapter2.beanMap.OneManBand">
		<property name="instruments">
			<map>
				<entry key="Guitar" value-ref="guitar" />
				<entry key="Cymbal" value-ref="cymbal" />
				<entry key="Harmonica" value-ref="harmonica" />
			</map>
		</property>
	</bean>

	<bean id="guitar" class="com.chapter2.beanList.Guitar" />
	<bean id="cymbal" class="com.chapter2.beanList.Cymbal" />
	<bean id="harmonica" class="com.chapter2.beanList.Harmonica" />

</beans>
